* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url('../images/cityscape.png');
  background-size: cover;
  background-repeat: no-repeat;
}
#btn-list {
  display: flex;
  flex-wrap: wrap;
  background: #122125;
}
button {
  margin: 10px;
}
.container {
  display: flex;
  margin-top: 50px;
  flex: 1;
}
#gif-display {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.gif-box {
  margin: 10px;
}
.fill-space {
  flex: 1;
}

footer {
  padding: 25px;
  text-align: center;
  color: #fff;
  background: #122125;
  border-top: 5px solid #122125;
}
