* {
  box-sizing: border-box;
}
h1 {
  font-size: 30px;
  font-weight: bold;
}
h3 {
  padding: 0 5px;
  font-size: 20px;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  color: #fff;
  background: #152429;
}
form {
  align-items: center;
}
input {
  margin: 0 5px;
  border-radius: 4px;
}
#btn-list, #fav-btn-row {
  display: flex;
  flex-wrap: wrap;
  background: #122125;
}
.show-gifs {
  margin: 10px;
}
#show-favorites {
  margin: 10px;
}
.container {
  display: flex;
  margin-top: 50px;
  flex: 1;
}
#main-content {
  display: flex;
  width: 100%;
}
#gif-display {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card-img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.card-body * {
  padding: 5px;
}
.gif-box {
  margin: 10px;
}
.fill-space {
  flex: 1;
}
footer {
  padding: 25px;
  text-align: center;
  color: #fff;
  background: #122125;
  border-top: 5px solid #122125;
}
